<%# Start of Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/fsI-_MRsic0/800x400);">
  <div class="container text-center">
    <h1>Welcome to The Cocktail House</h1>
  </div>
</div>
<%# End of Banner %>

<%# Start of Coctail Cards %>

<div class="container my-5">
	<div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-6 col-sm-4">
    <%= link_to cocktail_path(cocktail) do %>
        <div class="profile-card-2"><img src="<%= cl_image_path cocktail.photo.key, height: 400, width: 300, crop: 'fill' %>" class="img-cover">
            <div class="card-name"><%= cocktail.name %></div>
            <%# <div class="profile-username">Description : </div> %>
        </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>

<%# Enf of Coctail Cards %>

<%# Start of Footer Render %>

<%= render "shared/footer" %>

<%# Enf of Footer Render %>
