<%# Start of Navbar %>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a class="navbar-brand" href="#">Cocktail House</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Type Cocktail Name" aria-label="Search">
            <button class="btn btn-link" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Create your Cocktail!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%# End of Navbar %>

<%# Start of Banner %>
<div class="banner">
  <div class="container text-center">
    <h1>Welcome to Cocktail House</h1>
  </div>
</div>
<%# End of Banner %>


<hr>

<h1>All cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<%= link_to 'Add a new Cocktail', new_cocktail_path, class: "btn btn-primary" %>



<div class="container">
        <div class="row">
          <div class="col-sm-12">

            <!-- Start of About me section -->
            <div class="card mb-5 p-5">
              <div class="card-body">
                <h2>About me</h2>
                <div class="row">
                  <div class="col-md-4">
                    <p><img src="https://source.unsplash.com/random" class="img-fluid shadow" alt=""></p>
                  </div>
                  <div class="col-md-8 align-self-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                  </div>
                </div>
              </div>
            </div>
            <!-- End of about me section -->

            <!-- Start of Projects section -->
            <div class="card mb-5 p-5">
              <div class="card-body">

                <h2>Projects</h2>
                <div class="row mb-5">

                  <div class="col-md-4">
                    <img src="https://source.unsplash.com/random" class="img-fluid shadow" alt="">
                  </div>
                  <div class="col-md-8">
                    <h3 class="fw-bold mb-3">Amelia App</h3>
                    <p>June 2021</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>

              </div>
            </div>
            <!-- End of Projects section -->

          </div>
        </div>
      </div>

<%# JS event listener for Navbar %>
<script type="text/javascript">
      var nav = document.querySelector('nav');

      window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
          nav.classList.add('bg-dark', 'shadow');
        } else {
          nav.classList.remove('bg-dark', 'shadow');
        }
      });
</script>