<div class="footer justify-content-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram mx-3"></i></a>
    <a href="#"><i class="fab fa-facebook mx-3"></i></a>
    <a href="#"><i class="fab fa-twitter mx-3"></i></a>
  </div>
  <%# <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div> %>
</div>
